@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Titillium+Web:wght@400;600&display=swap');
.container{
    padding: 0rem 5rem 2rem 5rem;
    gap:20px;
    width: 55%;
    margin: 0 auto;
    font-family: "Titillium Web", sans-serif;
}

.container > h3 {
    font-size:19px;
    color: rgb(87, 87, 87);
    font-weight: 400;
}

.container > h1{
    font-size: 28px;
    margin-bottom: 1em;
}

.title{
    display: flex;
    padding: 1em 5em 1em 5em;
    flex-direction: column;
    width: 55%;
    margin: auto;
}

.title > h3{
    font-size: 24px;
    font-weight: 400;
}

.title > h1 {
    font-size: 34px;
    font-weight: 700;
}

.bodyContainer{
    /* display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(350px, auto);
    gap: 20px; */
    display: flex;
    justify-content: center;
    align-content: stretch;
}

.userProfileContainer{
    display: flex;
    justify-content: center;
    padding: 2em;
    border-radius: 14px;
    margin-bottom: 20px;
}

.userProfileContainer > img {
    width: clamp(100px, 100%, 250px);
    box-shadow: 1px 1px 5px #888888;
    border-radius: 50%;
    margin: 10px 30px;
}

.userProfileContainer > hr{
    /* border: 0.5px solid rgb(141, 141, 141); */
    width: 100%;
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
}

.accountContent{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 14px;
    box-shadow: 1px 1px 5px #888888;
    min-width: 250px;
    gap: 20px;
}


.h1{
    font-size: 28px;
    font-weight: 800;
    color: #176B87;
    margin-bottom: 10px;
}

.skillContent{
    width: 100%;
}

.skillSet{
    display: grid;
    color:white;
    border: 1px solid #EEF5FF;
    padding: 0.5em;
    background-color: #405156;
    border-radius: 8px;
}


.skillLevel{
    margin: 0.2rem 0;
    flex-direction: row;
    align-items: center;
}

.skillBar{
    display: flex;
    gap: 10px;
}

.skillName{
    width: 100%;
    align-items: center;
}

.fill {
    background: #ff663f;
}

.skillz{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.dot {
    opacity: 100;
    margin: 0.2rem 0.2rem;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 0.1rem rgb(238, 245, 255, 0.4) solid;
}

.a1 {
    background: #176B87;
    border: 0.1rem #EEF5FF solid;
  }

.a2 {
    background: #167fa2;
    border: 0.1rem #EEF5FF solid;
  }

.a3 {
    background: #1991b9;
    border: 0.1rem #EEF5FF solid;
  }

.a4 {
    background: #1aa1ce;
    border: 0.1rem #EEF5FF solid;
}

.a5 {
    background: #1cb7ea;
    border: 0.1rem rgb(238, 245, 255) solid;
}



@media screen and (max-width: 1024px) {
    .container{
        flex-direction: column;
    }

    .container{
        padding-inline: 2rem;
        width:80%;
    }

    .userProfileContainer{
        width: 100%;
        min-width: 250px;
    }

    .title {
        padding: 0em 2em 0em 2em;
    }
}

