.ccontainer{
    display:flex;
    flex-direction:column;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    padding: 1rem;
    background-color: #B4D4FF;
    box-shadow: 1px 3px 8px rgba(44, 44, 44, 0.539);
    max-height: 365px;
    height: 275.39px;
    position: relative;
}
.form{
    display:flex;
    flex-direction:column;
}

.noteHeader{
    height: 33px;
    border-radius: 14px;
    border: 0px solid;
    outline: none;
    padding: 1em;
}

.noteHeaderError{
    height:33px;
    border-radius: 14px;
    border: 1px rgb(221, 62, 62) solid;
    outline: none;
    padding: 1em;
    background-color: #f9c2c2;
}

.noteHeaderError::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }

.noteHeader::first-letter {
    text-transform: capitalize;
}

.noteBody{
    height: 165px;
    max-height: 165px;
    margin-top:18px;
    padding: 1em;
    border-radius: 14px;
    border: 0px solid;
    outline: none;
}

.noteBodyError{
    height: 165px;
    max-height: 165px;
    margin-top:18px;
    padding: 1em;
    border-radius: 14px;
    border: 1px rgb(221, 62, 62) solid;
    outline: none;
    background-color: #f9c2c2;
}

.noteBodyError::placeholder {
    color: red;
    opacity: 1; /* Firefox */
}

.title{
    font-size: 1.85em;
}

.header{
    font-size:1.75em;
    font-weight: 800;
}

.noteLength{
    position:absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}


.titleLenght{
    position: absolute;
    top: 1;
    right: 0;
    margin-right: 27px;
    margin-top: 5px;
    
}

.configBtnItem{
    position:absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 10px;
}

.configBtnItem:hover{
    cursor: pointer;
}

.ccontainer > div:last-child{
    bottom: 0;
    position: absolute;
    margin-bottom: 15px;
    right: 0;
    margin-right: 16px;
}

span{
    margin:auto;
}

@media (max-width: 728px) {

    .ccontainer{
        height: 275px;
    }
}

/* @media screen and (min-width: 40em) {
    .ccontainer {
       max-width: calc(33% -  1em);
    }
}

@media (max-width: 814px) {
    .ccontainer {
        flex: 1 0 calc(105% -  1em);
        width: 100%;
    }
}
  */
/* @media screen and (width: 40em) {
    .ccontainer {
        max-width: calc(15% - 1em);
    }
} */